@{
    ViewBag.Title = "Staff Login";
}
<form method="post" action="/Auth/ApiStaffLogin">
    <input name="email" type="text" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <button type="submit">Login</button>
</form>
