<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add
      name="CoepdDb"
      connectionString="Data Source=DESKTOP-KLTPV5C\SQLEXPRESS;Initial Catalog=coepd_ai_leads;Integrated Security=True;MultipleActiveResultSets=True;Encrypt=False;TrustServerCertificate=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="JWT_SECRET_KEY" value="change-this-in-production" />
    <add key="FORCE_RUNTIME_STORE" value="true" />
    <add key="AUTH_COOKIE_SECURE" value="false" />
    <add key="ADMIN_LOGIN_EMAIL" value="admin" />
    <add key="ADMIN_LOGIN_PASSWORD" value="admin" />
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="/Auth/Staff" timeout="120" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add
        name="ExtensionlessUrlHandler-Integrated-4.0"
        path="*."
        verb="*"
        type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
