{% extends "base.html" %}

{% block title %}COEPD Business Analyst Finishing School | Become Job-Ready in 6 Months{% endblock %}

{% block content %}

{% include "components/hero.html" %}

{% include "components/partners.html" %}

{% include "components/benefits.html" %}

{% include "components/metrics.html" %}

{% include "components/program_overview.html" %}

{% include "components/training_model.html" %}

{% include "components/tools.html" %}

{% include "components/domains.html" %}

{% include "components/job_trends.html" %}

{% include "components/curriculum.html" %}

{% include "components/certification.html" %}

{% include "components/testimonials.html" %}

{% include "components/placements.html" %}

{% include "components/cta_mid.html" %}

{% include "components/cta.html" %}

{% include "components/contact.html" %}

{% include "components/locations.html" %}

{% endblock %}
